In [1]:
#Import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
# Import the data
loan = pd.read_csv('Resources/lending_data.csv')
loan.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
# Assign the data to X and y
y = loan['loan_status'].values
X = loan.drop('loan_status', axis =1)

In [4]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [5]:
#Create a Logistic regression model 
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=10000)
classifier

LogisticRegression(max_iter=10000)

In [6]:
#Train model use training data
classifier.fit(X_train,y_train)

LogisticRegression(max_iter=10000)

In [7]:
#Validate model; X_train, y_train
print(f"Unscaled Training Data Logistic Regression Model: {classifier.score(X_train, y_train)}")

Unscaled Training Data Logistic Regression Model: 0.9919177328380795

In [8]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
randomForestClass = RandomForestClassifier(random_state=42)
randomForestClass.fit(X_train, y_train)
print(f" Unscaled RandomForest score: ", randomForestClass.score(X_test, y_test))

 Unscaled RandomForest score:  0.9920037144036319

In [111]:
# Split the data into X_train, X_test, y_train, y_test (starter code)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
32815,8200.0,6.598,42700,0.297424,2,0,12700
59572,10500.0,7.591,52000,0.423077,4,1,22000
42325,7600.0,6.351,40400,0.257426,2,0,10400
39070,9700.0,7.254,48900,0.386503,4,0,18900
42524,11800.0,8.155,57300,0.476440,6,1,27300

In [10]:
# Train a Logistic Regression model print the model score (starter code)
0.9908171687990095

0.9908171687990095

In [110]:
# Train a Random Forest Classifier model and print the model score (starter code)

0.9910751134956666

# Prediction
 I predict Random Forest will be a better fit for our model. I chose this model over the Logistic Regression model
    because we have a larger dataset and some missing values.

In [11]:
# Scaling the X data by using StandardScaler() mean =0 and std deviation of 1
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [12]:
# Train the Logistic Regression model on the scaled data and print the model score
logistic_scaled = LogisticRegression(max_iter=10000,random_state=42)
#fit the model on the trained scaled data
logistic_scaled.fit(X_train_scaled, y_train)
print(f"Scaled Training Data Logistic Regression Model: ", logistic_scaled.score(X_test_scaled, y_test))

Scaled Training Data Logistic Regression Model:  0.9941704498555509

In [13]:
# Train a Random Forest Classifier model on the scaled data and print the model score
randomForest_scaled = RandomForestClassifier(random_state=42)
randomForest_scaled.fit(X_train_scaled, y_train)
print(f" Scaled RandomForestClassifier score: ", randomForest_scaled.score(X_test_scaled, y_test))

 Scaled RandomForestClassifier score:  0.9917457697069748

# Evaluation
The logistic regression model performed better after being scaled. The Random Forest model, after being scaled, only increased by .00067.